name: CI

on: [push, pull_request]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pdm-project/setup-pdm@v3
        name: Setup Python and PDM
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          version: 2.7.0
      - name: Start Redis
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: 7
      - name: Install dependencies
        run: pdm sync -v
      - name: Static type and format checking
        run: pdm run check
      - name: Tests
        run: pdm run test
